body {
  padding-top: 50px;
}

html, body, .container-fluid, .full-height {
  height: 100%;
}

#task-zone {
  padding-top: 15px;
  border-right: 4px dashed #e7e7e7;
  overflow-y: auto;
  /*max-width: 350px;*/
}

#schedule-zone {
  padding: 0px;
  overflow-y: auto;
  /*width: 100%*/
}


/*table {
  border: none; border-collapse: collapse;
}
table td {
  border: 1px solid #000;
}
table td:first-child {
  border-left: none;
}*/
